  <%- include ('includes/header') %>
  <%- include ('includes/nav')%>
    <div class="">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="display text-center">Lista de Produtos</h1>
                <div class="responsive-class-table">
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Descrição:</th>
                            <th>Preço R$</th>
                            <th>Estoque Atual (QTDE)</th>
                            <th colspan="2" style="text-align: center;">Operações</th>          
                        </tr>
                        <%produtos.forEach(produto=>{ %>
                            <tr>
                                <td><%=produto.nome%></td>
                                <td><%=produto.descricao%></td>
                                <td><%=produto.preco%></td>
                                <td><%=produto.estoque%></td>
                                <td><a href="/cadastro/<%=produto._id%>">Editar</a></td>
                                <td><a href="/codastro/delete/<%=produto._id%>" class="text-danger">Excluir</a></td>
                            </tr>
                        <% }); %>
                       
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
  <%- include ('includes/footer') %>
 
   